.Job {
  margin: auto;
}

.Job img {
  width: 15vw;
  height: 15vh;
  margin: auto;
  object-fit: contain;
}

.Job span .title-initial {
  font-size: 3vw;
}

.Job span .cl-initial {
  font-size: 1.5vw;
}

.Job span .type-initial {
  font-size: 1.5vw;
}
