.Form {
  display: flex;
  flex-direction: column;
}

div input {
  border: .1vw solid #007BFE;
  border-radius: .2vw;
  padding: .5vw;
  margin: 1vh 0;
}

div input:focus, .search:focus {
  box-shadow: 0 0 .1vw .1vw #007BFE;
  outline: none;
}

.search {
  border: none;
  outline: none;
  border-radius: .2vw;
  text-transform: uppercase;
  background-color: #007BFE;
  color: #fff;
  padding: 1.2vh 6vw;
  margin: 1vh 0;
  cursor: pointer;
}
